body {background-color:black;font-family:arial;color:white;}
h1{color:grey;font-family:verdana;}
table{margin-left: 80px;align:left;}
#mainTable{border-spacing: 15px;}
#AnwTable{white-space:pre-line;margin-left: 100px;}

.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    align:center
}

.highlight {
    background-color:yellow;
}
